* {
    background-color: #1D2323;
    padding: 10px;
    color: #E7F6F2;
}

.fotoperfil {
    display: flex;
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.navcontenedor {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    background:#395B64;
}

.navenlace {
    display: inline-block;
    background:#395B64;
    color:white;
    text-decoration: none;  
}

.navenlace:hover {
background:#A5C9CA;
}

img {
float:left;
}


h1 {
    padding-left: 550px;
    padding-bottom: 0%;
    font-size: 100px;
    font-family: 'Abril Fatface';
    margin-left: 500px;
}


h2 {
    padding-left:50px;
    border-style:ridge;
    border-color:antiquewhite; 
    border-radius: 10px;
    background-color:#1D2323;
}

.left { 
float:right;
}

.destacado {
font-family: "satisfacer";
margin-left: 600px;
padding: 0%;
}

/* esto es un comentario*/