

h1 {
    background-color: black;
    font-size: 100px;
    font-family: 'Bungee Spice';
    margin-left: 500px;
}


html {
    background-color:rgb(235, 119, 119);
}

h2 {
    border-style:ridge;
    border-color: black; 
    border-radius: 10px;
    background-color:rgb(90, 88, 88)
}

.left { 
float:right;
}

/* esto es un comentario*/